body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

main.app {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 300px;
  margin-right: 10px;
}

.form button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #4f7fff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background-color: #3a5edc;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: 360px;
  height: 200px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item a {
  display: block;
  flex: 1;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item .info-table {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #eee;
  background-color: #fafafa;
  text-align: center;
  font-size: 14px;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.gallery-item .info-table .info-row {
  display: contents;
}

.gallery-item .info-table .info-row div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #eee;
}

.gallery-item .info-table .info-row div:first-child {
  border-left: none;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4f7fff;
  border-radius: 50%;
  margin: 14px auto;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.is-hidden {
  display: none !important;
}

/* Центруємо кнопку Load More */
.load-more {
  display: block;           /* щоб працював margin auto */
  margin: 20px auto;        /* вертикально 20px, горизонтально центр */
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  background-color: #4E75FF;
  color:#ffffff;
}

.load-more:hover {
  background-color: #6C8CFF;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  font-size: 14px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
